.navbar{
    background-color: #211F20 !important;
}

.nav-link{
    font-size: 1.3rem
}

.dropdown-menu{
    background-color: #211F20 !important;
}

.dropdown-menu .dropdown-item{
    color:white;
}
.dropdown-menu .dropdown-item:hover{
    color:#F78225 !important;
    background: none;
}

.bg-dark{
    background-color: #211F20 !important;
}

.nav-link:hover{
    color:#F78225 !important;
}

.btn{
    background-color:#00ACE8 !important;
} 

.colorText{
    color:#00ACE8;
}

.colorText:hover{
    color:#F78225;
}
